.git
.gitignore
.DS_Store

api/.venv
api/.pytest_cache
api/.mypy_cache
api/.ruff_cache
api/__pycache__

web/node_modules
web/.next
web/coverage
web/build
web/out
web/misc

npm-debug.log*
yarn-debug.log*
yarn-error.log*
