# macOS
.DS_Store

# frontend (web)
web/node_modules
web/.next
web/coverage
web/build
web/out
web/misc
web/.env.local
web/.env.development.local
web/.env.test.local
web/.env.production.local

# backend (api)
api/.venv
api/.pytest_cache
api/.mypy_cache
api/.ruff_cache
api/__pycache__
api/**/*.pyc

# node package manager logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
